* {
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

:root {
  --primary: #f9fbfd;
  --secondary: #3cdcf5;
  font-size: 20px;
}

body {
  font-family: sans-serif;
 background: linear-gradient(#f9fbfd, #0f0f0f);
  width: 800px;
  padding: 40px;
  margin: 0 auto;
}
#head {
display: flex;
justify-content: space-between;
padding-left: 5%;
padding-right: 5%;

}
#showscores {
  left: 0px;
  position: absolute;
  margin: 30px;
  top: 0px;
  border:solid black 2px;
  background-color: #3cdcf5;
  border-radius: 10px;       
}

.time-container {
  right: 0px;
  position: absolute;
  margin: 30px;
  top: 0px;
  border:solid black 2px;
  background-color: #3cdcf5;
  border-radius: 10px;    
}

button {
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
}

button:hover {
  background-color: #3cdcf5;
  border-color: transparent;
  color: #0f0f0f;
}

ul li {
    display:inline-table;
    display:inline;
}

#container li {
    display: inline-block;
}

#container li {
    display: inline-block;
   color: #FFF;
}